:root {
    --off-purple: #d3bef0;
    --purple: #792aff;
    --deep-purple: #4e10b9;
    --white: #ffffff;
    --off-white: #f2eef9;
    --off-second-white: #f2f5ff;
    --green: #6ae59b;
    --off-gray: #c5c8e2;
}

/* Renicio para que 1rem = 10px*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/** |-----|| Layouts  ||-----|*/

/* Auth */
.cont--auth {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
}

/* AppTravels */
.app-travels {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-travels--header {
    background-color: var(--purple);
    color: var(--white);
    width: 100%;
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** |-----|| Pages  ||-----|*/

/* Auth */
.panels-container {
    width: 90%;
    margin: auto;
    background-color: var(--white);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

/* Login */
.cont--form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.auth--title {
    color: var(--deep-purple);
}

.form--login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.cont--field {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.label--field {
    color: var(--purple);
}

.field {
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid var(--purple);
    outline: none;
    color: var(--off-purple);
}

.field::placeholder {
    color: var(--off-purple);
}

.cont--button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.button {
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: var(--deep-purple);
    transition: background-color 0.5s ease;
}

.button--no-account {
    background-color: transparent;
    color: var(--purple);
    text-decoration: underline;
    border: none;
    cursor: pointer;
}


/* Sign up*/
.form--sign-up {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}


@media (min-width: 464px) {
    .auth--title {
        width: 100%;
        text-align: center;
    }

    .panels-container {
        padding: 0;
        display: flex;
        gap: 0;
        position: relative;
        flex-direction: row;
        width: 90%;
        margin: auto;

        transition: all 0.6s ease;
        background-color: transparent;
    }

    .panel {
        min-height: 43.5rem;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        transition: background-color .9s ease, transform .9s ease;
    }

    .panel--left {
        background: #fff;
        color: #000;
        box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -webkit-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -moz-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
    }

    .panel--right {

        background: var(--purple);
        color: var(--white);
        box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -webkit-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -moz-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
    }

    /* Al invertir, rotamos en X los paneles con translate */
    .panels-container.reversed .panel--left {
        transform: translateX(100%);
        box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -webkit-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -moz-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
    }

    .panels-container.reversed .panel--right {
        transform: translateX(-100%);
        box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -webkit-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
        -moz-box-shadow: 31px 24px 26px -6px rgba(211, 190, 240, 0.68);
    }

    .cont--button--no-account {
        width: 100%;
        height: 100%;
        min-height: 35rem;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .button--no-account {
        background-color: var(--white);
        padding: 1rem 2rem;
        text-decoration: none;
        transition: background-color 0.5s ease;
    }

    .button--no-account:hover {
        background-color: var(--off-white);
        transition: background-color 0.5s ease;
    }
}

@media (min-width: 964px) {
    .panels-container {
        max-width: 80rem;
        height: 40rem;
    }
}

/** |-----|| Components  ||-----|*/

/* NavMenu */
.popover {
    position: relative;
    display: inline-block;
}

.popover--button {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    background-color: var(--off-purple);
}

.popover--button--bars-icon {
    width: 2rem;
    height: 2rem;
    color: var(--white);
}

/* ---- Clases: Enter Transition */

.popover--transition--enter {
    transition: opacity 200ms ease-out,
        transform 200ms ease-out;
}

.popover--transition--enter-from {
    opacity: 0;
    transform: translateY(0.25rem);
}

.popover--transition--enter-to {
    opacity: 1;
    transform: translateY(0);
}

/* ---- Clases: Leave Transition */
.popover--transition--leave {
    transition: opacity 150ms ease-in,
        transform 150ms ease-in;
}

.popover--transition--leave-from {
    opacity: 1;
    transform: translateY(0);
}

.popover--transition--leave-to {
    opacity: 0;
    transform: translateY(4px);
}

.popover--panel {
    position: absolute;
    left: 50%;
    top: auto;
    margin-top: 1.25rem;
    display: flex;
    width: 100%;
    min-width: 15rem;
    transform: translateX(-100%);
    z-index: 10;
}

.popover--panel--content {
    box-sizing: border-box;
    padding: 1rem;
    flex-shrink: 1;
    width: 100%;
    max-width: 15rem;
    border-radius: 0.75rem;
    background-color: #fff;
    color: #111827;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6 -2px rgba(0, 0, 0, 0.05);
}

.popover--panel--message {
    text-align: center;
}

.popover--panel--link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.popover--panel--link:hover {
    color: var(--purple-950);
}


@media (min-width: 1024px) {
    .popover--panel {
        width: auto;
        max-width: min-content;
        transform: translateX(-12rem);
    }
}